@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root{
  --fontMenor: 'Abel', sans-serif;
  --fontMaior: 'Cinzel', serif;
  --corSecundaria:#DC143C;
  --corPrimaria:#2C2929;
}
*{
  padding: 0;
  margin: 0;
  color: white;
}
@media(min-width:760px){
  body{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabecalho>h2{
    font-size: 4vh;
    font-family: var(--fontMaior);
  }
  hr{
    width: 50vw;
    margin: 5vh;
  }
  .header{
    transform: rotate(90deg);
    position: fixed;
    left: 0vw;
  }
  .header>a{
    border: 1px solid var(--corSecundaria);
    color: var(--corSecundaria);
    padding: 0 1vh;
    text-decoration: none;
  }
  .header>a:hover{
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
    cursor: pointer;
  }
  .container{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container > .container-part{
    width: 35vw;
    display: flex;
    margin: 5vh;
    justify-content: center;
    align-items: center;
  }
  .container>div>h2{
    font-size: 6vh;
    font-family: var(--fontMaior);
  }
  .container>div{
    font-family: var(--fontMenor);
    font-size: 3vh;
  }
  .img-board{
    height: 50vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  .img-board>a{
    padding: 2vh 8vh;
    border: 3px solid var(--corSecundaria);
    color: #DC143C;
  }
  .img-board>a:hover{
    background-color: var(--corSecundaria);
    color: var(--corPrimaria);
    cursor: pointer;
  }
  .aboutme{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }
  .aboutme>.aboutme-top{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme>.aboutme-top>h2{
    font-size: 6vh;
    margin: 8vh 0vh;
    font-family: var(--fontMaior);
  }
  .aboutme>.aboutme-bottom{
    width: 35vw;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme>.aboutme-bottom>p{
    font-family: var(--fontMenor);
    font-size: 4vh;
  }
  .aboutme>.aboutme-bottom>img{
    width: 25vw;
  }


  /* -----------------Certificates--------------------- */
  .certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .certificates-container>div{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .certificates-container>div>h2{
    font-family: var(--fontMaior);
    font-size: 6vh;
  }
  .certificates>.certificates-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vw;
  }
  .certificates>div>p{
    font-family: var(--fontMenor);
    font-size: 3vh;
    margin: 5vh;
  }
  .certificates>div>img{
    width: 25vh;
  }
  .certificates>div{
    margin: 10vh;
    flex-wrap: wrap;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ------------------Contact--------------------- */
  h3{
    text-align: center;
    font-size: 6vh;
    font-family: var(--fontMaior);
    margin: 10vh 0vh;
  }
  .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contact>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh;
  }
  .contact>div>h2{
    font-family: var(--fontMaior);
  }
  .contact>div>p{
    margin-top: 4vh ;
  }
  .contact-mid{
    border-left: 2px solid var(--corSecundaria);
    border-right: 2px solid var(--corSecundaria);
  }
  iframe{
    width: 70vw;
    height: 40vh;
    margin: 10vh;
  }
  marca{
    opacity: 20%;
  }
}
@media(max-width:760px){
  *{
    padding: 0;
    margin: 0;
    color: white;
  }
  body{
    background-color: var(--corPrimaria);
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 0vw;
  }
  .cabecalho>hr{
    width: 40vw;
  }
  .cabecalho>h2{
    font-family: var(--fontMaior);
  }

  /* --------header------------ */

  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .header{
    margin-left: 2vw;

  }
  .header>a{
    color: var(--corSecundaria);
    text-decoration: none;
    border: var(--corSecundaria) 2px solid;
    margin: 5vw 1vw;
    padding: 2vw 3vw;
  }
  .container-part{
    margin: 0vw 10vw;
    font-family: var(--fontMenor);
  }
  .container-part>h2{
    font-family: var(--fontMaior);
    margin: 10vh 0vw;
  }
  .img-board{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-board>a{
    padding: 2vh 8vw;
    border: 2px solid var(--corSecundaria);
    color: var(--corSecundaria);

  }

  .aboutme{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }
  .aboutme>.aboutme-top{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme-top>h2{
    margin: 8vh 0vh;
  }
  .aboutme-bottom>img{
    width: 50vw;
  }
  .aboutme-bottom>p{
    margin: 10vw 10vw;
  }
  .certificates{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
  }
  .certificates-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .certificates>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .certificates>div>img{
    width: 30vw;
    margin-top: 10vh;
  }
  .certificates-container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
  }
  .certificates>div>p{
    font-family: var(--fontMenor);
  }
  .certificates-container>div>h2{
    font-family: var(--fontMaior);
  }

  /* -----------------contact------------- */

  h3{
    text-align: center;
    font-family: var(--fontMaior);
    margin: 5vh 0vw;
    font-size: 3vh;
  }
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact>div>h2{
    margin: 5vh 0vw;
    font-family: var(--fontMaior);
    font-size: 2vh;
  }
  iframe{
    margin: 5vh 0vw;
  }
  marca{
    opacity: 20%;
  }
  
}